/* Cores e fundo azul */
body {
  background-color: var(--main-bg-color);
}
:root {
  --main-bg-color: #0C4D85;
  --orange: #f7941e;
  --white: #FCFCFC;
}


.containerCubo {
  width: 100px;
  height: 100px;
  position: absolute;
  transform-style: preserve-3d;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all .5s linear;
  animation: float 5s infinite;
  transform: rotateX(5deg);
}

.box {
  height: 100px;
  width: 100px;
  transform-style: preserve-3d;
  position: absolute;
  transition: all 1.2s linear;
}

.box:hover {
  transform: rotateX(360deg) scale(1.1);
}
.box:hover > .card {
  background-color: var(--orange) !important;
}
.box:hover > #left, .box:hover > #bottom, .box:hover > #top {
  background-color: hwb(33 12% 10%) !important;
}



/* Cada lado do cubo */
.card {
  height: inherit;
  width: inherit;
  text-align: center;
  background-color: var(--white);
  border-width: 2px;
  position: absolute;
  transition: all .3s linear;
}

/* Formar o cubo */
#front {
  transform: translateZ(50px);
}
#back {
  transform: translateZ(-50px);
}
#left {
  right: 50px;
  transform: rotateY(-90deg);
}
#right {
  left: 50px;
  transform: rotateY(90deg);
}
#top {
  bottom: 50px;
  transform: rotateX(90deg);
}
#bottom {
  top: 50px;
  transform: rotateX(-90deg);
}

/* Cores laterais do cubo */
#left {
  background-color: #bbbbbb;
}
#bottom {
  background-color: #bbbbbb;
}


/* Animacao de flutuacao */
@keyframes float {
  0% {
    transform: 
      translateY(0px)
      rotateX(5deg)
      rotateY(0deg);
  }
  40% {
    transform: 
      translateY(-30px) 
      rotateX(10deg)
      rotateY(15deg);
  }
}
